$primary: rgb(51, 25, 0,);
$primary-dark: rgb(61, 11, 11);
// $secondary: rgb(102, 51, 0);
$dark: rgb(107, 23, 23);
$light: rgb(164, 101, 101);
$lightish: rgb(169, 113, 113);
$nav: rgb(220, 178, 178);
$nav-selected: rgb(215, 166, 166);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // background-color: $dark;
    background-color: $dark;
    height: 100vh;
    width: 100%;
}

header {
    // height: 10vh;
    height: 7.6vh;
    // height: 7.5vh;

    .container {
        display: flex;
        // justify-content: space-around;
        // justify-content: space-between;
        justify-content: space-between;
        align-items: center;
        // background-color: $nav;
        // height: inherit;
        width: 100%;
        // height: 10vh;
    }

    img.fashionImg {
        width: 30%;
    }

    .menu {
        background-color: $light;
        padding: 20px 30px;
    }
}

// .left-col {
.container {
    // padding-left: 10vw;
    // padding-left: 8vw;
    padding-left: 5vw;
}
// }

main {
    height: 98vh;
    background-color: $lightish;

    nav {
        position: absolute;
        // top: 300px;
        top: 350px;
        left: 10px;
        z-index: 20;
    }

    .page {
        // position: absolute;
        border-radius: 50%;
        height: 6px;
        width: 6px;
        // background-color: $lightish;
        background-color: black;
        cursor: pointer;

        &:hover {
            background-color: $nav-selected;
            height: 8px;
            width: 8px;
            left: -2px;
        }
    }

    // h2 {
    //     // display: flex;
    //     // justify-content: center;
    //     text-transform: uppercase;
    //     margin-left: 2rem;

    //     &::before {
    //         display: block;
    //         font-size: 20px;
    //         content: '0' counter(header) "."
    //     }
    // }

    // li {
    //     list-style-type: none;
    //     display: flex;
    // }

    ol.pages {
        height: 100%;
        width: 100%;
        // padding: 0;
        margin: 0;
        counter-set: header 0 nextpage 1;
        // background-color: $lightish;
    

        > li {
            // width: 100%;
            height: 100%;
            counter-increment: header;
            // list-style-type: none;
            // display: flex;

            .left-col, .right-col {
                position: relative;
                flex: 1;
                min-width: 0;
            }

            .left-col {
                // z-index: 2
                margin-left: -50px;
            }

            .right-col {
                z-index: 1
            }

            .next-arrow {
                display: flex;
                justify-content: center;
                height: 50px;
                align-items: center;
                margin-top: -30px;
                margin-right: 3rem;
            }

            h2 {
                font-size: 20px;
                color: $primary;
                white-space: nowrap;
                text-transform: uppercase;
                padding: 10px;
                // margin-left: 2rem;
                // font-family: 'Ruthie', cursive;
                font-family: 'Stardos Stencil', cursive;

                &::before {
                    display: block;
                    margin: 15px;
                    // font-size: 30px;
                    font-size: 25px;
                    content: '0' counter(header) "."

                }
            }
        }


        // .thumbnail {
        //     padding: 20px;
        // }
    
    
    }

   
}

li {
    list-style: none;
}

ol.next-pages {
    > li {
        counter-increment: header 1 nextpage 1;
    }
}

h3 {
    // margin-left: 1rem;
    // margin-left: 2.5rem;
    margin-left: 30px;
    border: 2px solid purple;
    width: 200px;
}

.left-col, .right-col {
    position: relative;
    flex: 1;
    min-width: 0;
}

// footer > ol.next-pages {

// }

// h2 {
//     display: flex;
//     justify-content: center;
// }

p {
    text-align: center;
    padding: 15px;
}

img.nextImage {
    // width: 50%;
    // width: 100%;
    // width: 50%;
    width: 90%;
}

// .left-col {
//     z-index: 2;
// }

// .right-col {
//     z-index: 1;
//     height: 100%;
// }

img {
    width: 20px;
}

.image {
    // height: 100%;
    height: 50vh;
    background-size: cover;
    margin-left: -40px;
}